* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100%;
}
.left-dashboard {
  position: relative;
  left: -0.8rem;
}

.form-register {
  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 2rem;
}
.form-register input {
  padding: 1.3%;
}
.add-btn {
  width: 12rem;
  height: 2.79rem;
}
.managers-title-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manager-title {
  font-weight: bold;
  font-size: 1.1rem;
}
.manager-actived,
.manager-disabled {
  width: 4.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 50px;
}
.manager-actived {
  color: green;
  background-color: rgba(0, 128, 0, 0.247);
  outline: green 1px solid;
}
.manager-disabled {
  color: orange;
  background-color: rgba(255, 166, 0, 0.247);
  outline: orange 1px solid;
}
